<!--<ion-header>
  <ion-toolbar>
    <ion-title>Tab Three</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content></ion-content> -->

<!-- <ion-header></ion-header> 
  <ion-toolbar>
    <ion-title>Title Only</ion-title>
  </ion-toolbar>
-->

<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>My Navigation Bar</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-title>Subheader</ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title size="large">My Navigation Bar</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->

<!-- <ion-content><ion-title>content</ion-title></ion-content>-->
<ion-footer translucent="true">
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer> 

<!-- <ion-toolbar>
  <ion-title size="small">Small Title above a Default Title</ion-title>
</ion-toolbar>
<ion-toolbar>
  <ion-title>Default Title</ion-title>
</ion-toolbar>
<ion-toolbar>
  <ion-title size="large">Large Title</ion-title>
</ion-toolbar> -->


<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Settings</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar></ion-searchbar>
    </ion-toolbar>
  </ion-header>
</ion-content> -->


<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons collapse="true">
      <ion-button>Click Me</ion-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Back Button</ion-title>
    <ion-back-button defaultHref1="/tabs/tab1"></ion-back-button>
    <ion-button>Click Me</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons collapse="true">
        <ion-button>Click Me</ion-button>
      </ion-buttons>
      <ion-title size="large">Settings</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar></ion-searchbar>
    </ion-toolbar>
  </ion-header> -->

  <a href="/tabs/tab3#answer1">查看答案1</a>
  <a href="tabs/tab3#answer1">查看答案1</a>
  <a href="./#answer1">查看答案1</a>
  <a href="#answer1">查看答案1</a>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>ion-item in a card, icon left, button right</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>

    <ion-card-content>
      This is content, without any paragraph or header tags,
      within an ion-card-content element.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item href="#" class="activated">
      <ion-icon name="wifi" slot="start"></ion-icon>
      <ion-label>Card Link Item 1 .activated</ion-label>
    </ion-item>

    <ion-item href="#">
      <ion-icon name="wine" slot="start"></ion-icon>
      <ion-label>Card Link Item 2</ion-label>
    </ion-item>

    <ion-item class="activated">
      <ion-icon name="warning" slot="start"></ion-icon>
      <ion-label>Card Button Item 1 .activated</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="walk" slot="start"></ion-icon>
      <ion-label>Card Button Item 2</ion-label>
    </ion-item>
  </ion-card>

  <!-- Default Item -->
  <ion-item>
    <ion-label> Item </ion-label>
  </ion-item>
  <!-- Item as a Button -->
  <ion-item (click)="testClick()">
    <ion-label> Button Item </ion-label>
  </ion-item>
  <!-- Item as an Anchor -->
  <ion-item href="https://www.ionicframework.com">
    <ion-label> Anchor Item </ion-label>
  </ion-item>
  <ion-item color="secondary">
    <ion-label> Secondary Color Item </ion-label>
  </ion-item>

  <br>Detail Arrows
  <ion-item detail>
    <ion-label> Standard Item with Detail Arrow </ion-label>
  </ion-item>

  <ion-item (click)="testClick()" detail>
    <ion-label> Button Item with Detail Arrow </ion-label>
  </ion-item>

  <ion-item detail="false" href="https://www.ionicframework.com">
    <ion-label> Anchor Item with no Detail Arrow </ion-label>
  </ion-item>

  <br>List Items
  <ion-list>
    <ion-item>
      <ion-label> Item </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label> No Lines Item </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        Multiline text that should wrap when it is too long
        to fit on one line in the item.
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <h3>H3 Primary Title</h3>
        </ion-text>
        <p>Paragraph line 1</p>
        <ion-text color="secondary">
          <p>Paragraph line 2 secondary</p>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item lines="full">
      <ion-label> Item with Full Lines </ion-label>
    </ion-item>
  </ion-list>

  <br>Media Items
  <ion-list lines="full">
    <ion-item (click)="testClick()">
      <ion-avatar slot="start">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw=="> </ion-avatar>
      <ion-label> Avatar Start, Button Item </ion-label>
    </ion-item>

    <ion-item href="#">
      <ion-label> Thumbnail End, Anchor Item </ion-label>
      <ion-thumbnail slot="end">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw=="> </ion-thumbnail>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw=="> </ion-thumbnail>
      <ion-label>
        <h2>H2 Title Text</h2>
        <p>Button on right</p>
      </ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>

    <ion-item (click)="testClick()">
      <ion-thumbnail slot="start">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw=="> </ion-thumbnail>
      <ion-label>
        <h3>H3 Title Text</h3>
        <p>Icon on right</p>
      </ion-label>
      <ion-icon name="close-circle" slot="end"></ion-icon>
    </ion-item>
  </ion-list>

  <br>Buttons in Items
  <ion-list lines="full">
    <ion-item>
      <ion-label slot="start">Button Start/End</ion-label>
      <ion-label>Button Start/End</ion-label>
    </ion-item>
    <ion-item>
      <ion-label style="flex: 0 0 auto;">Button Start/End</ion-label>
      <ion-label slot="end">Button Start/End</ion-label>
    </ion-item>
    <ion-item>
      <ion-button slot="start"> Start </ion-button>
      <ion-label>Button Start/End</ion-label>
      <ion-button slot="end"> End </ion-button>
    </ion-item>

    <ion-item>
      <ion-button slot="start">
        Start Icon <ion-icon name="home" slot="end"></ion-icon>
      </ion-button>
      <ion-label>Buttons with Icons</ion-label>
      <ion-button slot="end">
        <ion-icon name="star" slot="end"></ion-icon> End Icon
      </ion-button>
    </ion-item>
    <!-- <ion-item>
      <ion-button slot="start">
          <ion-label>Start Icon</ion-label> 
          <ion-icon name="home" slot="end"></ion-icon>
      </ion-button>
      <ion-label>Buttons with Icons</ion-label>
      <ion-button slot="end"> 
        <ion-icon name="star" slot="end"></ion-icon> 
        <ion-label>End Icon</ion-label> 
      </ion-button>
    </ion-item> -->

    <ion-item>
      <ion-button slot="start">
        <ion-icon slot="icon-only" name="navigate"></ion-icon>
      </ion-button>
      <ion-label>Icon only Buttons</ion-label>
      <ion-button slot="end">
        <ion-icon slot="icon-only" name="star"></ion-icon>
      </ion-button>
    </ion-item>

    <br>Icons in Items
    <ion-item>
      <ion-label> Icon End </ion-label>
      <ion-icon name="information-circle" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label> Icon End </ion-label>
      <ion-icon name="information-circle" slot="end"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label> Large Icon End </ion-label>
      <ion-icon name="information-circle" size="large" slot="end"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label> Small Icon End </ion-label>
      <ion-icon name="information-circle" size="small" slot="end"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-icon name="star" slot="start"></ion-icon>
      <ion-label> Icon Start </ion-label>
    </ion-item>

    <ion-item>
      <ion-label> Two Icons End </ion-label>
      <ion-icon name="checkmark-circle" slot="end"></ion-icon>
      <ion-icon name="shuffle" slot="end"></ion-icon>
    </ion-item>

    <br>Item Inputs
    <ion-item>
      <ion-label position="floating">Datetime</ion-label>
      <ion-datetime></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Select</ion-label>
      <ion-select>
        <ion-select-option value="">No Game Console</ion-select-option>
        <ion-select-option value="nes">NES</ion-select-option>
        <ion-select-option value="n64" selected>Nintendo64</ion-select-option>
        <ion-select-option value="ps">PlayStation</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Toggle</ion-label>
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Floating Input</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Input (placeholder)</ion-label>
      <ion-input placeholder="Placeholder"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Checkbox</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Range</ion-label>
      <ion-range></ion-range>
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-label>Range</ion-label>
    <ion-range></ion-range>
  </ion-item>

  <ion-item-divider>
    <ion-label> Basic Item Divider </ion-label>
  </ion-item-divider> <br>

  <ion-item-divider color="secondary">
    <ion-label> Secondary Item Divider </ion-label>
  </ion-item-divider>

  <!-- Item Dividers in a List --> <br>
  <ion-list>
    <ion-item-divider>
      <ion-label> Section A </ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label>A1</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>A2</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>A3</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>A4</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>A5</ion-label>
    </ion-item>

    <ion-item-divider>
      <ion-label> Section B </ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label>B1</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>B2</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>B3</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>B4</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>B5</ion-label>
    </ion-item>
  </ion-list>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>A</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label>Angola</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Argentina</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Armenia</ion-label>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider>
      <ion-label>B</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label>Bangladesh</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Belarus</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Belgium</ion-label>
    </ion-item>
  </ion-item-group>

  <!-- They can also be used to group sliding items -->
  <ion-item-group>
    <ion-item-divider>
      <ion-label>Fruits</ion-label>
    </ion-item-divider>
    <ion-item-sliding>
      <ion-item>
        <ion-label>
          <h3>Grapes</h3>
        </ion-label>
      </ion-item>
      <ion-item-options>
        <ion-item-option>Favorite</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding>
      <ion-item>
        <ion-label>
          <h3>Apples</h3>
        </ion-label>
      </ion-item>
      <ion-item-options>
        <ion-item-option>Favorite</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>Vegetables</ion-label>
    </ion-item-divider>
    <ion-item-sliding>
      <ion-item>
        <ion-label>
          <h3>Carrots</h3>
        </ion-label>
      </ion-item>
      <ion-item-options>
        <ion-item-option>Favorite</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding>
      <ion-item>
        <ion-label>
          <h3>Celery</h3>
        </ion-label>
      </ion-item>
      <ion-item-options>
        <ion-item-option>Favorite</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-item-group>

  <ion-list>
    <!-- Sliding item with text options on both sides -->
    <ion-item-sliding>
      <ion-item-options side="start">
        <ion-item-option (click)="favorite(item)">Favorite</ion-item-option>
        <ion-item-option color="danger" (click)="share(item)">Share</ion-item-option>
      </ion-item-options>
      <ion-item>
        <ion-label>Item Options</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="unread(item)">Unread</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <!-- Sliding item with expandable options on both sides -->
    <ion-item-sliding>
      <ion-item-options side="start">
        <ion-item-option color="danger" expandable>Delete</ion-item-option>
      </ion-item-options>
      <ion-item>
        <ion-label>Expandable Options</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="tertiary" expandable>Archive</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <!-- Multi-line sliding item with icon options on both sides -->
    <ion-item-sliding id="item100">
      <ion-item href="#">
        <ion-label>
          <h2>HubStruck Notifications</h2>
          <p>A new message in your network</p>
          <p>Oceanic Next has joined your network</p>
        </ion-label>
        <ion-note slot="end"> 10:45 AM </ion-note>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option>
          <ion-icon slot="icon-only" name="heart"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item-options side="end">
        <ion-item-option color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
        <ion-item-option>
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <!-- Sliding item with icon start options on end side -->
    <ion-item-sliding>
      <ion-item>
        <ion-label> Sliding Item, Icons Start </ion-label>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="primary">
          <ion-icon slot="start" name="more"></ion-icon> More
        </ion-item-option>
        <ion-item-option color="secondary">
          <ion-icon slot="start" name="archive"></ion-icon> Archive
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <!-- Sliding item with icon end options on end side -->
    <ion-item-sliding>
      <ion-item>
        <ion-label>
          Sliding Item, Icons End
        </ion-label>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="primary" slot="end">
          <ion-icon slot1="end" name="more"></ion-icon>
          More
        </ion-item-option>
        <ion-item-option color="secondary" slot="top">
          <ion-icon slot1="end" name="archive"></ion-icon>
          Archive
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <!-- Label Colors -->
    <ion-label>Label</ion-label> <!-- Default Label --> <br>
    <ion-label color="primary">Primary Label</ion-label> <br>
    <ion-label color="secondary">Secondary Label</ion-label> <br>
    <!-- Input Labels -->
    <ion-item>
      <ion-label>Default Input</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Fixed</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Floating</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Stacked</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Toggle</ion-label>
      <ion-toggle slot="end" checked></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-checkbox slot="start" checked></ion-checkbox>
      <ion-label>Checkbox</ion-label>
    </ion-item>
  </ion-list>

  <ion-note>Default Note</ion-note>
  <ion-note color="primary">Primary Note</ion-note>
  <ion-note color="secondary">Secondary Note</ion-note>
  <ion-list>
    <ion-item>
      <ion-label>Note (End)</ion-label>
      <ion-note slot="end">On</ion-note>
    </ion-item>
    <ion-item>
      <ion-note slot="start">Off</ion-note>
      <ion-label>Note (Start)</ion-label>
    </ion-item>
  </ion-list>

  <ion-text color="secondary">
    <h1>H1: The quick brown fox jumps over the lazy dog</h1>
  </ion-text>

  <ion-text color="primary">
    <h2>H2: The quick brown fox jumps over the lazy dog</h2>
  </ion-text>

  <ion-text color="light">
    <h3>H3: The quick brown fox jumps over the lazy dog</h3>
  </ion-text>

  <ion-text color="danger">
    <h4>H4: The quick brown fox jumps over the lazy dog</h4>
  </ion-text>

  <ion-text color="dark">
    <h5>H5: The quick brown fox jumps over the lazy dog</h5>
  </ion-text>

  <p>
    I saw a werewolf with a Chinese menu in his hand.
    Walking through the <ion-text color="danger"><sub>streets</sub></ion-text> of Soho in the rain.
    He <ion-text color="primary"><i>was</i></ion-text> looking for a place called Lee Ho Fook's.
    Gonna get a <ion-text color="secondary"><a>big dish of beef chow mein.</a></ion-text>
    <ion-text color="danger">
      <ion-icon name="cut"></ion-icon>
    </ion-text>
  </p>

  <ion-list>
    <ion-list-header>
      <ion-label>Items</ion-label>
    </ion-list-header>
    <ion-item>Item 1</ion-item>
    <ion-item>Item 2</ion-item>
    <ion-item>Item 3</ion-item>
    <ion-item>Item 4</ion-item>
    <ion-item>Item 5</ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header> Recent Conversations </ion-list-header>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/ionic-docs-demo-api/avatar-finn.png">
      </ion-avatar>
      <ion-label>
        <h2>Finn</h2>
        <h3>I'm a big deal</h3>
        <p>Listen, I've had a pretty messed up day...</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/ionic-docs-demo-api/avatar-han.png">
      </ion-avatar>
      <ion-label>
        <h2>Han</h2>
        <h3>Look, kid...</h3>
        <p>I've got enough on my plate as it is, and I...</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header> Online </ion-list-header>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/ionic-docs-demo-api/avatar-poe.png">
      </ion-avatar>
      <ion-label>
        <h2>Poe</h2>
        <h3>New Ride</h3>
        <p>I just upgraded my X-Wing. Next time...</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/ionic-docs-demo-api/avatar-ben.png">
      </ion-avatar>
      <ion-label>
        <h2>Ben</h2>
        <h3>Move Along</h3>
        <p>These aren't the droids you're looking for...</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list-header>Default</ion-list-header>
  <ion-avatar class="ion-margin-start"> <img src="assets/ionic-docs-demo-api/avatar.svg"> </ion-avatar>

  <ion-list-header>Chip Avatar</ion-list-header>
  <ion-chip class="ion-margin-start">
    <ion-avatar> <img src="assets/ionic-docs-demo-api/avatar.svg"> </ion-avatar>
    <ion-label>Kit Bishop</ion-label>
  </ion-chip>

  <ion-list>
    <ion-list-header>Item Avatars</ion-list-header>
    <ion-item>
      <ion-avatar slot="start"> <img src="assets/ionic-docs-demo-api/avatar.svg"> </ion-avatar>
      <ion-label>Lorem ipsum</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start"> <img src="assets/ionic-docs-demo-api/avatar.svg"> </ion-avatar>
      <ion-label>
        <h3>Lorem ipsum</h3>
        <p>dolor sit amet</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start"> <img src="assets/ionic-docs-demo-api/avatar.svg"> </ion-avatar>
      <ion-label>
        <h3>Lorem ipsum</h3>
        <p>dolor sit amet</p>
        <p>consectetur adipiscing elit. Duis ut urna neque.</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="end"> <img src="assets/ionic-docs-demo-api/avatar.svg"> </ion-avatar>
      <ion-label>Lorem ipsum</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="end"> <img src="assets/ionic-docs-demo-api/avatar.svg"> </ion-avatar>
      <ion-label>
        <h3>Lorem ipsum</h3>
        <p>dolor sit amet</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="end"> <img src="assets/ionic-docs-demo-api/avatar.svg"> </ion-avatar>
      <ion-label>
        <h3>Lorem ipsum</h3>
        <p>dolor sit amet</p>
        <p>consectetur adipiscing elit. Duis ut urna neque.</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- <ion-grid> -->
      <ion-row class="ion-margin-bottom">
        <ion-col> <div>1</div> </ion-col>
        <ion-col> <div>2</div> </ion-col>
        <ion-col> <div>3</div> </ion-col>
        <ion-col> <div>4</div> </ion-col>
        <ion-col> <div>5<br>has more content.</div> </ion-col>
      </ion-row>
      <ion-row class="ion-margin-bottom">
        <ion-col size="4"> <div>1</div> </ion-col>
        <ion-col size="4"> <div>2</div> </ion-col>
        <ion-col size="4"> <div>3</div> </ion-col>
        <ion-col size="4"> <div>4</div> </ion-col>
        <ion-col size="4"> <div>5<br>has more content.</div> </ion-col>
      </ion-row>
      <ion-row class="ion-margin-bottom">
        <ion-col size="4"> <div>1</div> </ion-col>
        <ion-col size="4" offset="0.58"> <div>2</div> </ion-col>
        <ion-col size="4" offset="0.58"> <div>3</div> </ion-col>
        <ion-col size="4" offset="0.58"> <div>4</div> </ion-col>
        <ion-col size="4" offset="0.58"> <div>5<br>has more content.</div> </ion-col>
      </ion-row>
      <ion-row class="ion-margin-bottom">
        <ion-col size="3.6"> <div>1</div> </ion-col>
        <ion-col size="3.6" offset="0.58"> <div>2</div> </ion-col>
        <ion-col size="3.6" offset="0.58"> <div>3</div> </ion-col>
        <ion-col size="3.6" > <div>4</div> </ion-col>
        <ion-col size="3.6" offset="0.58"> <div>5<br>has more content.</div> </ion-col>
      </ion-row>
      <ion-row class="ion-margin-bottom">
        <ion-col offset="0"> <div>1</div> </ion-col>
        <ion-col offset="0.58"> <div>2</div> </ion-col>
        <ion-col offset="0.58"> <div>3</div> </ion-col>
        <ion-col offset="0.58"> <div>4</div> </ion-col>
        <ion-col offset="0.58"> <div>5<br>has more content.</div> </ion-col>
      </ion-row>
      <ion-row class="ion-margin-bottom custom-col-3">
        <ion-col offset="0"> <div>1</div> </ion-col>
        <ion-col offset="0.58"> <div>2</div> </ion-col>
        <ion-col offset="0.58"> <div>3</div> </ion-col>
        <ion-col offset="0"> <div>4</div> </ion-col>
        <ion-col offset="0.58"> <div>5<br>has more content.</div> </ion-col>
      </ion-row>
      <ion-row class="ion-margin-bottom">
        <ion-col> <div>1 of 3</div> </ion-col>
        <ion-col> <div>2 of 3</div> </ion-col>
        <ion-col> <div>3 of 3 联系我们010-64737366hi@damaotuanjian.com</div> </ion-col>
      </ion-row>
      <ion-row>
        <ion-col> <div> 1 of 3 </div> </ion-col>
        <ion-col size="8"> <div> 2 of 3 (wider) </div> </ion-col>
        <ion-col> <div> 3 of 3 </div> </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3"> ion-col [size="3"] </ion-col>
        <ion-col> ion-col </ion-col>
        <ion-col size="3"> ion-col [size="3"] </ion-col>
      </ion-row>
      <ion-row>
        <ion-col> <div>1 of 4</div> </ion-col>
        <ion-col> <div>2 of 4</div> </ion-col>
        <ion-col size="auto"> <div><ion-input placeholder="Variable width input"></ion-input></div></ion-col>
        <ion-col> <div>4 of 4</div> </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4"> <div>1 of 4</div> </ion-col>
        <ion-col size="2"> <div>2 of 4</div> </ion-col>
        <ion-col size="2"> <div>3 of 4</div> </ion-col>
        <ion-col size="4"> <div>4 of 4</div> </ion-col>
      </ion-row>
      <ion-row> 
        <ion-col size="12" size-sm> <div>1 of 4</div> </ion-col>
        <ion-col size="12" size-sm> <div>2 of 4</div> </ion-col>
        <ion-col size="12" size-sm> <div>3 of 4</div> </ion-col>
        <ion-col size="12" size-sm> <div>4 of 4</div> </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3"> <div> 1 of 2 </div> </ion-col>
        <ion-col size="3" offset="3"> <div> 2 of 2 </div> </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="3"> <div>1 of 3</div> </ion-col>
        <ion-col size-md="3"> <div>2 of 3</div> </ion-col>
        <ion-col size-md="3" offset-md="3"> <div> 3 of 3 </div> </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="9" push="3"> <div> 1 of 2 </div> </ion-col>
        <ion-col size="3" pull="9"> <div> 2 of 2 </div> </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" push="3"> <div>1 of 3</div> </ion-col>
        <ion-col size="3" push="3"> <div>2 of 3</div> </ion-col>
        <ion-col size="3" pull="9">   <div>3 of 3</div> </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center">
        <ion-col class="ion-align-self-start"> <div> 1 of 4</div> </ion-col>
        <ion-col class="ion-align-self-center"> <div> 2 of 4 </div> </ion-col>
        <ion-col class="ion-align-self-end"> <div> 3 of 4 </div> </ion-col>
        <ion-col> <div> 4 of 4 <br>  # <br> # <br> # </div> </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-start ion-justify-content-center ion-justify-content-end ion-justify-content-around ion-justify-content-between">
        <ion-col size="3"> <div> 1 of 2 </div> </ion-col>
        <ion-col size="3"> <div> 2 of 2 </div> </ion-col>
      </ion-row>
      <ion-row>
        <ion-col align-self-start>
          ion-col [start]
        </ion-col>
        <ion-col align-self-center>
          ion-col [center]
        </ion-col>
        <ion-col align-self-end>
          ion-col [end]
        </ion-col>
        <ion-col>
          ion-col
          <br>#
          <br>#
        </ion-col>
      </ion-row>
      <ion-row class="raw-center-horizontal">
        <ion-col size="auto">
          <ion-icon name="book"></ion-icon>
          <ion-label>迈瑞云课堂</ion-label>
        </ion-col>
        <ion-col size="auto">
          <ion-label>我的学习</ion-label>
          <ion-label>登录/注册</ion-label>
          <ion-icon name="person-circle-outline"></ion-icon>
        </ion-col>
      </ion-row>
  <!-- </ion-grid> -->
<!-- Scrollable Segment -->
<ion-segment scrollable value="heart">
    <ion-segment-button value="home">
      <ion-icon name="home"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="heart">
      <ion-icon name="heart"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="pin">
      <ion-icon name="pin"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="star">
      <ion-icon name="star"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="call">
      <ion-icon name="call"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="globe">
      <ion-icon name="globe"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="basket">
      <ion-icon name="basket"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <!-- <a id="answer1">答案1:1+1=2。</a>     <br>
  <a name="answer1">答案1:1+1=2。</a> -->
  <div id="answer1">答案1:1+1=2。</div>     <br>

  <!-- <ion-virtual-scroll [items]="items" approxItemHeight="320px">
    <ion-card *virtualItem="let item; let itemBounds = bounds;">
      <div>
        <ion-img [src]="item.imgSrc" height="item.imgHeight" [alt]="item.name"></ion-img>
      </div>
      <ion-card-header>
        <ion-card-title>{{ item.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>{{ item.content }}</ion-card-content>
    </ion-card>
  </ion-virtual-scroll> -->
</ion-content>

<!-- 

<ion-toolbar>
  <ion-buttons slot="secondary">
    <ion-button>
      <ion-icon slot="icon-only" name="contact"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Default Buttons</ion-title>
  <ion-buttons slot="primary">
    <ion-button color="secondary">
      <ion-icon slot="icon-only" name="more"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-toolbar>
  <ion-buttons slot="primary">
    <ion-button (click)="clickedStar()">
      <ion-icon slot="icon-only" name="star"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Right side menu toggle</ion-title>
  <ion-buttons slot="end">
    <ion-menu-button autoHide="false"></ion-menu-button>
  </ion-buttons>
</ion-toolbar> -->

<!-- <ion-button>Default</ion-button>
<ion-button expand="full">Full Button</ion-button>
<ion-button expand="full" shape="round">Full Button + shape="round"</ion-button>
<ion-button expand="block">Block Button</ion-button>
<ion-button shape="round">Round Button</ion-button> -->




<!-- <ion-app> -->
<!-- <ion-content>
    <div class="ion-activatable">
      A plain div with a bounded ripple effect
      <ion-ripple-effect></ion-ripple-effect>
    </div>

    <button class="ion-activatable">
      A button with a bounded ripple effect
      <ion-ripple-effect></ion-ripple-effect>
    </button>

    <div class="ion-activatable">
      A plain div with an unbounded ripple effect
      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
    </div>

    <button class="ion-activatable">
      A button with an unbounded ripple effect
      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
    </button>
  </ion-content> -->
<!-- </ion-app> -->

<!-- <ion-slides pager="true" >
  <ion-slide>
    <h1>Slide 1</h1>
  </ion-slide>
  <ion-slide>
    <h1>Slide 2</h1>
  </ion-slide>
  <ion-slide>
    <h1>Slide 3</h1>
  </ion-slide>
</ion-slides> -->